include ../mixins/recipe.jade
include ../mixins/recipeItem.jade
include ../mixins/page.jade

doctype html
html(lang="en")
  head
    title Recipes - #{title}
    include ./head.jade
  body
    include ./navigation.jade
    .page.container
      block body
        block content
        include ./scripts.jade
        block scripts

    footer
      include ./footer.jade
