nav.navigation__main(role='navigation')
  ul.navigation__list(role='menubar')
    a.navigation__link(href='/' role='menuitem')
      li.navigation__list-item Home
    a.navigation__link(href='/recipes' role='menuitem')
      li.navigation__list-item Recipes
    a.navigation__link(href='/about' role='menuitem')
      li.navigation__list-item About
