nav.navbar.navbar-default.navbar-inverse(role='navigation')
  .container-fluid
    // Collect the nav links, forms, and other content for toggling
    collapse.navbar-collapse
      ul.navigation__left-list.nav.navbar-nav(, role='menubar', id="bs-example-navbar-collapse-1")
        li.navigation__list-item
          a.navigation__link(href='/recipes' role='menuitem') Recipes

      ul.navigation__right-list.nav.navbar-nav.navbar-right(role='menubar')
        li.navigation__list-item
          - showProfile = isAuthorised && userName
          if showProfile
            a.navigation__link(href='/profile' role='menuitem') Profile
          else
            a.navigation__link(href='/login' role='menuitem') Login/Register
