extends ./layout

block content

  +page("profile", "Profile")
    p.profile__username Hi there #{userName}.

    if starredRecipes
      p.profile__starred-recipes-heading Starred Recipes
      ul.profile__starred-recipes-list
        each recipe in starredRecipes
          li.profile__starred-recipe
            a.profile__starred-recipe-link(href="/recipes/" + recipe.id) #{recipe.name}
            span.profile__starred-recipe-divider ' - '
            a.profile__starred-recipe-link(href="/recipes/" + recipe.id + '/unstar') unstar

    p.profile__logout
      a.profile__logout-link(href="/logout") Logout
